@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&family=Kanit:wght@300&family=Martian+Mono&family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@300;400&family=Rubik:ital,wght@0,500;1,900&display=swap');

:root {
    --main-bg-color: #00050f;
    --main-bg-color-transparent: #00050fe9;
    --main-text-color: #61dafb;
    --main-text-color-dark-transparent: #61dafbe1;
    --main-text-color-transparent: #61dafb82;
    --primary-color: #f8f9fa;
}

body{
    margin: 0;
    background-color: var(--main-bg-color);
    transition: 0.5s;

    font-family: 'Gentium Book Plus', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body.light{
    background-color: var(--primary-color);
}

/* 
Scrollbar styling
*/

::-webkit-scrollbar {
    width: 6px;    
    height: 0px;  
    transition: 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-text-color); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-text-color-transparent); 
}