body{
    margin: 0;
}

.title{
    text-align: center;
    font-size: 50px;
}

form{
    text-align: center;
    margin-top: 20px;
    /* border: 2px solid black; */
}

form .form-element{
    width: 200px;
}

.add-user-wrapper{
    text-align: left;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.click-me-wrapper{
    text-align: center;
    margin-top: 20px;
    /* width: fit-content; */
    /* border: 2px solid black; */
}

.click-me-wrapper button{
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px 25px;
    font: 20px;
    font-weight: 700;

    transition: 0.5s;
}

.click-me-wrapper button:active{
    cursor: pointer;
}

.click-me-wrapper button:hover{
    cursor: pointer;
    background-color: rgb(220, 228, 250);

}