<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Score Board</title>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <link rel="stylesheet" href="../static/css/scoreboard.css">
        <link rel="shortcut icon" href="../static/img/sb.png" type="image/x-icon">
    </head>
    <body>
        <div class="title">Jeopardy Score Board!</div>
        <div class="click-me-wrapper">
            <button hx-post="/clicked" hx-swap="outerHTML">
                Click Me
            </button>
        </div>
    </body>
</html>